<h1><%= @ad.title %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= @ad.copy %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit", edit_advertisement_path(@ad), class: 'btn btn-success' %>
     <%= link_to "Delete Ad", [@ad], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this ad?' } %>
   </div>
 </div>
  </div>
</div>
